@model Vidly.ViewModel.MoviesViewModel
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

@{
    if (Model.Movie.Count == 0)
    {
        <h3>We don't have any customers yet.</h3>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr class="bg-info">
                        <th class="">Movie Name</th>
                    </tr>
                    @{
                        foreach (var customer in Model.Movie)
                        {
                            <tr>
                                <td>@Html.ActionLink(@customer.movieName, "", "") </td>
                            </tr>
                        };
                    }
                    <tr class="bg-info">
                        <th>Total Customers</th>
                        <td>@Model.Movie.Count</td>
                    </tr>
                </table>
            </div>
        </div>
    }
}